/* ============================================
   LOCAL HEEBO FONTS - Variable & Static Weights
   ============================================ */

/* Heebo Variable Font - Recommended for modern browsers */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/Heebo-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Heebo Static Fonts - Fallback for older browsers */

/* Thin - 100 */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/static/Heebo-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Extra Light - 200 */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/static/Heebo-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

/* Light - 300 */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/static/Heebo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular - 400 */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/static/Heebo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Medium - 500 */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/static/Heebo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Semi Bold - 600 */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/static/Heebo-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Bold - 700 */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/static/Heebo-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Extra Bold - 800 */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/static/Heebo-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* Black - 900 */
@font-face {
  font-family: 'Heebo';
  src: url('/fonts/static/Heebo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
