@tailwind base;
@tailwind components;
@tailwind utilities;

/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    /* direction: rtl; This will be set on the html tag in layout.tsx */
    text-align: right; /* Align text to the right */
}

/* Additional RTL adjustments for components if needed */
.direction-rtl {
    direction: rtl;
    text-align: right;
}

/* Example component styles - adjust as needed with Tailwind */
.product-item, .contact-item, .location-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Align content to the right */
}

.product-item img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 4px;
}

