
.navMain {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px); /* 16px margin on each side */
  max-width: 1200px;
  z-index: 100;
  transition: opacity 0.2s ease-out;
}

.navSticky {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%) translateY(-160%);
  width: calc(100% - 32px); /* 16px margin on each side */
  max-width: 650px;
  z-index: 2000;
  transition: transform 0.5s var(--spring-ease), opacity 0.2s;
  opacity: 0;
  pointer-events: none;
}

.navSticky.isActive {
  transform: translateX(-50%) translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.heroSection {
  background-color: var(--primary);
  border-radius: 24px;
  margin: 120px 16px 0 16px; /* 120px top margin, 16px horizontal, 0 bottom */
  padding-top: 80px;
  padding-bottom: 60px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

@media (max-width: 980px) {
  .heroSection {
    min-height: 350px;
  }
}

@media (max-width: 640px) {
  .heroSection {
    margin: 100px 12px 0 12px;
  }
}

